/* #f1f1f1 #292d30 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 20px;
  scrollbar-color: #888;
  scrollbar-track-color: #ffffff;
}
html ::-webkit-scrollbar {
  width: 20px;
}
html ::-webkit-scrollbar-track {
  background: #ffffff;
}
html ::-webkit-scrollbar-thumb {
  background: #888;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background-size: 100% 100%;
}

#root {
  height: auto;
  width: 100%;
  display: grid;
}
#root header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  height: 100px;
}
#root #Body {
  background: #ffffff;
  padding: 1%;
  min-height: 100vh;
  overflow-x: hidden;
}
#root footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
  height: 12rem;
}

h1,
h6 {
  margin: 10px;
  margin-left: 20px;
  color: #fff;
}

div h1,
div p {
  color: #000000;
}

#Anchor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  height: auto;
}
#Anchor .form {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 3%;
  height: 50vh;
  border: 2px solid #0095777c;
}
#Anchor .form .input-wrapper #itemTitle {
  width: 500px;
  padding: 10px;
  cursor: text;
  color: #000;
  border: 4px solid #0095777c;
  position: relative;
  background: #fff;
  z-index: 3;
}
#Anchor .form .input-wrapper #itemTitle:focus-visible {
  outline: none;
}
#Anchor .form .input-wrapper .input {
  margin-top: 0%;
  width: 500px;
  padding: 10px;
  cursor: text;
  color: #000;
  border: 4px solid #0095777c;
  position: relative;
  z-index: 3;
  background: #fff;
}
#Anchor .form .input-wrapper .textArea {
  margin: 10px;
  padding: 0;
  background: #fff;
  width: 100%;
  height: 70%;
  padding: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: text;
  color: #000;
  border: 4px solid #0095777c;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
#Anchor .form .input-wrapper #itemContent:focus-visible {
  outline: none;
}

ul li {
  color: #000;
}

.icon {
  padding: 0;
}

.iconWrapper {
  display: inline-flex;
}

.btn {
  border: none;
  background-color: #fff;
  text-decoration-color: #000;
  width: 7rem;
  padding: 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.btn:hover, .btn:focus {
  color: #444;
  font-size: 1.2rem;
}

.form-btn {
  background-color: #01755e7c;
  text-decoration-color: #000;
  width: auto;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.button {
  margin-left: 6px;
  margin-right: 6px;
  width: 8rem;
  height: auto;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.right-align {
  justify-self: flex-end;
}

.no-deco {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
