$site-width: 100% /* variable */;

@mixin wrapperFlex($justify: space-evenly, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin display($sideMargin: 6px, $addLeft: 0px, $addRight: 0px) {
    margin-left: $sideMargin + $addLeft;
    margin-right: $sideMargin + $addRight;
}

#navWrapper {
    @include wrapperFlex();
    #icon {
        @include display(6px, 10px, 100px);
        p {
            color: white;
        }
    }
    #navBar {
        @include wrapperFlex();
        @include display($addLeft: 20px);
    }
}

#actionWrapper {
    @include wrapperFlex();

    #loginWrapper {
        @include wrapperFlex();
        @include display($addRight: 20px);

        #isUser {
            @include display();
        
            p {
                color: white;
            }
        }
        #signUp {
            @include display();
            p {
                color: white;
            }
        }
    }
    #menu {
        @include display(10px, 0px, 40px);
        height: 20px;
        width: 20px;
        color: white;
    }
}