$site-width: 100% /* variable */;

@mixin wrapperFlex($justify: space-evenly, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}