/*
* ====================
*    General Values
* ==================== 
*/
$site-width: 100%;



/*
* ====================
*    COLOR THEMES
* ==================== 
*/
$dark-header: #2d333b;
$dark-body: #22272e;
$dark-button-color: #ffffff;

$light-header: #24292f;
$light-body: #ffffff;
$light-button-color: #000000;

$test: 33333;
