$site-width: 100% /* variable */;

@mixin wrapperFlex($justify: space-evenly, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin display($sideMargin: 6px, $addLeft: 0px, $addRight: 0px) {
    margin-left: $sideMargin + $addLeft;
    margin-right: $sideMargin + $addRight;
}

#navWrapper {
    @include wrapperFlex(space-between, center);
    width: 100%;
    #icon {
        @include display(6px, 10px, 100px);
        p {
            color: white;
        }
    }
    #navBar {
        @include wrapperFlex();
        @include display($addLeft: 20px);
    }
}

#loginWrapper {
    @include wrapperFlex(flex-end);
    @include display($addRight: 20px);
    width: 100%;
    #signup {
        margin-right: 4%;
    }

}

#actionWrapper {
    @include wrapperFlex();

    #logoutWrapper {
        @include wrapperFlex();
        @include display($addRight: 20px);

        #isUser {
            @include display();
        
            p {
                color: white;
            }
        }
        #signUp {
            @include display();
            p {
                color: white;
            }
        }
    }
}