#homepage-wrapper {
    padding-left: 1vh;
    padding-right: 1vh;
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 6rem 75vh;

    .toolbar {
        padding: 5px;
        background-color: #ffffff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        line-height: 1;
        display: grid;
        grid-template-columns: auto 10rem;

        &-buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                cursor: pointer;
            }
        }
        &-infos {
            display: flex;
            justify-content: center;
            align-items: center;
            .info-wrapper {
                display: flex;
                height: 70%;
                flex-direction: column;
                justify-content: space-evenly;
            }
            .info {
                font-size: larger;
                font-weight: 600;
            }
        }
    }

    #homepage-setup {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 20vw auto;

        #Sidebar {
            background-color: #fff;
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            border-radius: 5px;
            padding-top: 2rem;
        }

        #homepage-view {
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 5px;
        }
    }
    #homepage-positioning {
        display: flex;
        justify-content: center;

        #homepage-view {
            width: 80%;
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 5px;
        }
    }
    #homepage-edit {
        display: flex;
        justify-content: center;

        #homepage-view {
            width: 80%;
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 5px;
        }
    }
}
