#homepage-wrapper {
    padding-left: 1vh;
    padding-right: 1vh;
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 5rem 75vh;

    #Toolbar {
        padding: 5px;
        background-color: #ffffff;
        border: 5px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #homepage-builder {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 20vw auto;

        #Sidebar {
            background-color: #fff;
            border: 5px solid #000;
            border-radius: 10px;
            padding-top: 2rem;
        }

        #homepage-view {
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 5px;
        }
    }
}
