$site-width: 100% /* variable */;
$scrollbar-width: 20px;
$scrolltrack-color: #ffffff; /* #f1f1f1 #292d30 */
$scrollbar-color: #888;
$scrollbar-color-onhover: #555;

@mixin wrapperFlex($justify: space-evenly, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin display($sideMargin: 6px, $addLeft: 0px, $addRight: 0px) {
    margin-left: $sideMargin + $addLeft;
    margin-right: $sideMargin + $addRight;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: $scrollbar-width;
    scrollbar-color: $scrollbar-color;
    scrollbar-track-color: $scrolltrack-color;
    ::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    ::-webkit-scrollbar-track {
        background: $scrolltrack-color;
    }
    ::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-color-onhover;
    }
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    place-items: center;
    background-size: 100% 100%;
}

#root {
    height: auto;
    width: 100%;
    display: grid;

    header {
        @include wrapperFlex($justify: space-between);
        flex-direction: row;
        padding: 0px;
        margin: 0px;
        background-color: #ffffff;
        height: 100px;
    }

    #Body {
        background: #ffffff;
        padding: 1%;
        min-height: 100vh;
        overflow-x: hidden;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #ffffff;
        height: 12rem;
    }
}

h1,
h6 {
    margin: 10px;
    margin-left: 20px;
    color: #fff;
}

div {
    h1,
    p {
        color: #000000;
    }
}

#Anchor {
    @include wrapperFlex($justify: center);
    flex-direction: column;
    min-height: 100%;
    height: auto;
    #loginForm {
        height: 50vh;
        width: 20%;
        border: 2px solid #0095777c;
        .input-wrapper {
            width: 100%;
            height: 100%;
            @include wrapperFlex($justify: center, $align: center);
            flex-direction: column;

            #email {
                width: 90%;
                padding: 10px;
                background: #fff;
                color: #000;
                border: 4px solid #0095777c;
                cursor: text;
                &:focus-visible {
                    outline: none;
                }
            }
            #password {
                width: 90%;
                padding: 10px;
                background: #fff;
                color: #000;
                border: 4px solid #0095777c;
                cursor: pointer;
                &:focus-visible {
                    outline: none;
                }
                margin-bottom: 10%;
            }
        }
    }
}

ul {
    li {
        color: #000;
    }
}

.icon {
    padding: 0;
}

.iconWrapper {
    display: inline-flex;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include display();
    padding: 0.2rem;
    text-decoration: none;
    cursor: pointer;
    width: 10rem;
    height:  2rem;

    .btn {
        border: none;
        background-color: #fff;
        text-decoration-color: #000;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1;

        &:hover,
        &:focus {
            color: #444;
            font-size: 1.2rem;
        }
    }
}
.extra-wide {
    width: 15rem;
}

.right-align {
    justify-self: flex-end;
}

.no-deco {
    text-decoration: none;
}
