$site-width: 100% /* variable */;

@mixin wrapperFlex($justify: space-evenly, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

#loginForm {
    @include wrapperFlex(center);
    flex-direction: column;
    height: 50%;
    height: 70%;
    margin-bottom: 10%;
}
