ul {
    list-style-type: none;
}

#body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#settingsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;

    #settings-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        border-radius: 5px;
        max-width: 50%;
        min-width: 30%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 10vh;

        #data {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 5%;

            .settings-labels {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin-top: 20%;
                }
            }

            .settings-inputs {
                width: 100%;

                input {
                    margin-top: 20%;
                }
            }
        }
    }

    .settings {
        padding: 5px;
    }

    li {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}
